@import "~bootstrap/dist/css/bootstrap.min.css";

.center-content {
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    /* Styles for screens up to 768px width (adjust as needed) */

    /* Adjust font size for the title and content */
    .smallTitle {
        font-size: 14px;
        margin: 10px;
        color: white;
      }
  
      .smallContent {
        font-size: 12px;
        margin: 12px;
        color: white;
      }
      .smallContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
}
}

.container-with-background {
  margin-top: 0;
  background-color: brown;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;}
  
/* styles/globals.css or your CSS module */

