.postList {
    border-radius: 5px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        /* Styles for screens up to 768px width (adjust as needed) */
            .smallTitle {
            font-size: 12px;

          }
      
          .smallContent {
            font-size: 14px;

          }
    }
  }
  
  .listItem {
    border: 1px solid #ccc; /* Add border styles */
    border-radius: 4px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding to create space around content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a shadow effect */
    background-color: #fff; /* Add a background color if needed */
    margin-bottom: 10px; /* Add margin to separate list items */
  }
  
  .listItem:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a different box shadow on hover */
    transform: translateY(-2px); /* Add a slight lift on hover for interactive effect */
  }
  
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: baseline;
  }
  
  .pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .pageInfo {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 14px;
  }
  .searchContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;

  }
